*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(252, 233, 216);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: white;
    font-size: 30px;
}

.form{
    display: flex;
    justify-content: center;
    
    &__input, &__button{
        border: none;
        background-color: white;
        padding: 0.5rem;
        font-size: 16px;
        
    }

    &__button{
        transition: all 0.4s ease;
        background: white;
        color: rgb(247, 213, 183);
    }
    &__button:hover{
        background: rgb(247, 213, 183);
        color: white;
    }
}